.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards #card {
    background-color: rgb(191, 221, 230);
    width: 200px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}
.cards #card:hover {
    transform: translateY(-5px);
}
.components{
    overflow: hidden;
        width: 100%;
}
.discourse_but{
    margin: 50px;
    margin-left: 45%;
}


a { cursor: pointer; }

#action_button:hover{
    transform: translateY(-5px);
}

.dis_table_row{
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
}
.dis_table_row1{
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
    background-color: rgb(191, 221, 230);
    height: 40px;
    padding-top: 10px;
    justify-content: center;
}
.dis_table_col{
    text-align: center;
    justify-content: center;
    width: 20%;
}

.usr_buttons{
  display:inline-block;
  padding: 12px;
}

.but, .usr_a{
    color: black;
  align-items: center;
  background-image: linear-gradient(144deg,#d1a9ef, #89c4fc 10%,#9bf8ff);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  /* line-height: 1em; */
  /* max-width: 100%;
  min-width: 140px; */
  width: 30%;
  padding: 10px 15px;
  /* text-decoration: none;
  user-select: none;
  -webkit-user-select: none; */
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

@media (min-width: 768px) {
  .but {
    font-size: 24px;
  }
}

.add_dis {
    margin-left: 90%;
}

.but {
    margin-right: 3px;
    margin-bottom: 3px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.longer-name{
 display:none;
}
.expanded-text:hover .short-name{
 display:none;
}
.expanded-text:hover .longer-name{
 display:block;
}
