.usrEditButton {
  margin-left: 30px;
  margin-top: 2px;
  font-size: 21px;
  color: black;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
  width: 100px;
}
.headerdiv2 input {
  text-align: center;
  border: aliceblue;
  height: 47px;
  min-width: 134px;
}
.usrtop {
  margin-top: -546px;
  margin-left: 519px;
}
.usrtop iframe {
  background-color: rgb(147, 145, 145);
}
/*usr */
.tta {
  margin-top: -13px;
  margin-left: 40px;
}
.lab_discourse {
  margin-top: 16px;
  margin-left: 41px;
}
.tta textarea {
  height: 64px;
  width: 40%;
  font-size: medium;
}
.tta input {
  height: 64px;
  width: 40%;
  font-size: medium;
}
.ttab {
  margin-top: -117px;
  margin-left: 668px;
}

.ttab input {
  height: 37px;
  width: 487px;
  margin-top: -198px;
}
.ttab1 {
  margin-top: -5.6%;
  margin-left: 84%;
}
.ttab1 input {
  height: 37px;
  width: 193px;
}
.ttab2 {
  margin-top: -23px;
  margin-left: 84%;
}
.ttab2 input {
  height: 37px;
  width: 193px;
}
hr {
  border: 1px solid black;
}
.story {
  margin-left: 1%;
}
.story input {
  width: 67.6%;
}
.outl {
  width: 461px;
  margin-top: 71px;
  margin-left: 41px;
}
.os {
  display: flex;
  flex-direction: column;
}
.osc {
  font-size: large;
  line-height: 39px;
}
p.osc:hover {
  background-color: yellow;
}
.usr iframe {
  background-color: rgb(160, 160, 160);
}
table {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  border-collapse: separate;
  margin-bottom: 32px;
  margin-right: 24px;
}
td,
th {
  height: 35px;
  border-radius: 7px;
  box-shadow: 2px 1px 2px black;
}
th {
  background: #ffc107;
  width: 174px;
  padding-top: 13px;
  min-width: 145px;
}
td {
  background: white;
  text-align: -webkit-center;
  min-width: 164px;
}
.headerdiv {
  width: 86%;
}
/*.headerdiv2
        {
            display: block;
        }*/
